body {
    margin: 20px 10px 0px 10px;
    text-align: center;
    
}

.hero {
    background: #6943fe;
    color: white;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main {
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;
    margin-top: 10px;
}
.input-button{
    display: flex;
    flex-direction: column;
   
}
.input-button input[type="text"]{
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}

.input-button button{
    width: 130px;
    margin: 20px auto;
    padding: 5px;
    font-size: 1.2em;
}


#volume-el,
#mass-el,
#length-el{
    color: #6943fe;
    font-size:1.2em;
}
.attribution{
    color:#6943fe;
    font-size: 1.2em;
    margin: 10px auto;
}
.convert-clear button{
    text-transform: uppercase;
    outline: none;
}
